<div class="container h-100 mt-3">
    <div class="row h-100 justify-content-center align-items-center">   
        <div class="col-10 col-md-8 col-lg-6 mt-3">
            <%= form_tag sessions_path do %>
                <div class="form-group mt-3">
                    <%= label_tag "Email" %>
                    <%= text_field_tag :email, nil, placeholder: "Email", class: 'form-control' %>
                </div>
                <div class="form-group mt-3">
                    <%= label_tag "Password" %>
                    <%= password_field_tag :password, nil, placeholder: "Password", class: 'form-control' %>
                </div>
                <div class="form-group mt-3">
                    <%= submit_tag "Log In", class: 'btn btn-primary' %>
                </div>
            <% end %>       
            <div class="mt-3">
                <a class="btn btn-primary" href="/signup">Sign up</a>
            </div>
        </div>
    </div>
</div>
