<h1>Cases#edit</h1>
<% if flash[:errors] %>
    <% flash[:errors].each do |error|%>
        <p><%= error  %></p>
    <% end %>
<% end %>

<%= form_for @case do |f| %>
    <%= f.label :topic %>
    <%= f.text_field :topic %>
    <%= f.label :comments %>
    <%= f.text_field :comments %>
    
    <%= f.submit %>
<% end %>
