<!DOCTYPE html>
<html>
  <head>
    <title>Financecustomer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <div class="row justify-content-center mt3">
      <div class="col-6 mt-3">
        <div class="row mt-3">
          <div class="col-sm nav-box">
             <% if logged_in? %>
          <%= button_to "Logout", sessions_path, method: :delete %>
        <% else %>
          <a class="nav-link" href="/login">Log in</a>
         <% end %> 
          </div>
          <div class="col-sm nav-box">
            <a class="nav-link" href="/customers">Customers</a>
          </div>
          <div class="col-sm nav-box">
            <a class="nav-link" href="/cases">Cases</a> 
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
    <div>
      
    </div>
  </body>
</html>
